<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">-->
<!--<div class="container">-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
</script>
<script>
  $(document).ready(function(){
    $('#myTable').dataTable();
  });
</script>

<div id="table-wrapper">
  <div id="table-scroll">
<table class="blueTable">а
  <thead>
  <tr>

    <td>
      <small>Номер сделки:  </small>
    </td>

    <td>
      <small>Статус сделки:  </small>
    </td>

    <td>
      <small>Номер бокса:  </small>
    </td>
  </tr>
  </thead>
  <tr *ngFor="let deal of deals ">

    <td>

      <strong>{{deal.id}}</strong>
    </td>

    <td>

      <strong>{{deal.status}}</strong>
    </td>

    <td>

      <strong>{{deal.box.id}}</strong>
    </td>
  </tr>
</table>
    </div>
    </div>
<br>
<br>


<div class="dealAdder">
  <div class="form-group">
    <label>Место      </label>
    <select class="form-control" name="box"
            [(ngModel)]="selectedBox" #boxSelect="ngModel">
      <option *ngFor="let box of freeBoxList" [value]="box.id">
        {{box.row}}
        {{box.col}}
      </option>
    </select>
  </div>


    <button class="btn btn-default" (click)="selectBoxClick(boxSelect)">
      Добавить
    </button>





</div>




