
<!--<div class="container">-->

<!--    <p class="style1">-->
<!--        Cайт АТП-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Есть главная страница, страница с расписанием,-->
<!--        страница для логина, личный кабинет.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Расписание условно должно быть составлено с текущй даты по последнюю имеющуюся в расписании.-->
<!--        гости видят все маршруты с равномерно распределенными внутри каждой смены рейсами.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        В расписании по датам каждый маршрут из базы, список остановок и время прибытия-->
<!--        между отправкой назад условно 10 минут задержки.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Тайминги с остановками по времени отбытия,-->
<!--        в каждую сторону отдельно.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        3 роли - водитель, дипетчер и администратор.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Каждый видит свою личную информацию.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Водитель может посмотреть свои маршруты.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Диспетчер видит все маршуты, список всех водителей-->
<!--        может изменять, добавлять и удалять.-->
<!--    </p>-->
<!--    <p class="style2">-->
<!--        Администратор видит все:-->
<!--        расписание, маршруты, работников и транспорт,-->
<!--        может изменять, добавлять и удалять все.-->
<!--    </p>-->
<!--</div>-->

<table>
  <tr *ngFor="let deal of deals">
    <td>{{deal.id}}</td>
    <td>{{deal.status}}</td>
    <td>{{deal.box.id}}</td>
  </tr>

</table>


<p> Список свободных мест <input #freeBoxesInput list="freeBoxInputList" value= ""
                   required (change)="routeChanged(freeBoxesInput.value)">
  <datalist #freeBoxInputList id="freeBoxInputList">
    <option *ngFor="let box of freeBoxList">
      <h1>Место: </h1>
      {{box.id}}
      <h1>Расположение: X </h1>
      {{box.col}}
      <h1>Y: </h1>
      {{box.row}}
    </option>
  </datalist>
</p>


