table{
    text-align:center;
}

.errorList{
    overflow-y: scroll;
    max-height: 400px;
    text-align-last: left;
    text-indent:30%;
    font-size: 20px;
    color: #f5f5f5;
}

.personalInfo{
    text-align-last:left;
    font-size: 20px;
    color: #f5f5f5;
    overflow: hidden;
    animation: Aopen 0.5s linear;
}
.personalInfo:active{
    animation: Aopen 0.5s linear;
}

.personalInfo li{
    margin: 10px;
}

@keyframes Aopen {
    from { height:0}
    to   { height:150;}
  }


.tableTitle{
    text-align: left;
    text-indent:42%;
    font-size: 30px;
    transition-property: all;
    transition-duration: 2s;
    user-select: none;
    color: #f5f5f5;
}

.tableTitle:hover{
    /* ----------------- */
    color: rgb(170, 170, 170);
    /* ----------------- */
    text-indent:40%;
}

.dataTable{
    width: 100%;
    font-size: 25px;
    text-align: center;
    vertical-align: top;
    color: #f5f5f5;

    margin: 10px;
    border-spacing: 10px 20px; 
    animation: Aopen2 1s linear;
}
.dataTable:active{
    animation: Aopen2 1s linear;
}
@keyframes Aopen2 {
    from { opacity: 0;}
    to   { opacity: 1;}
  }

.dataTable td {
    height: 40px;
}

.list{
    text-align: left;
}

.btnimg{
    width: 25px;
    height: 25px;

    transition-property: all;
    transition-duration: 1s;
}

.btnimg:hover{
    width: 35;
    height: 35px;
}

.filterSwitch{
color: #f5f5f5;
text-decoration: underline;
}
.filterSwitch:hover{
    color: rgb(30, 91, 221);
    }
    

.rootfon{
    background-color: rgba(40, 40, 40, 0.7);
    border-radius:25px;
}

input[type=text]:focus {
    border: 3px solid #555;
  }

 