<p>
Подтвердите удаление следующих данных:
</p>
<table>
  <tr *ngFor="let row of data">
    <td *ngIf="row._fio!=undefined">{{row._fio}}</td>
    <td *ngIf="row.number!=undefined">{{row.number}}</td>
    <td *ngIf="row.sign!=undefined">{{row.sign}}</td>

    <td *ngIf="row.recordId!=undefined;">
      {{row.recordId}} - 
      {{row.date}} -
      {{row.currentDriver.fio}} -
      {{row.currentRoute.sign}} -
      {{row.transporttransportId.number}}
    </td>
  </tr>
</table>

<button (click)="deleteSelected()">Подтвердить удаление</button>
<button (click)="decline()">Отмена</button>